@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato";
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f4f2ee;
}

header {
    width: 100%;
    height: 80px;
    padding: 2px 0 6px;
    background-image: linear-gradient(to right, #e53945, #7f2026);
}

.navbar-custom {
    background-image: linear-gradient(to right, #e53945, #7f2026);
    padding-left: 63px;
    height: 80px;
}

.navbar-custom {
    color: white;
}

.nav-link {
    color: white;
}

.navbar-brand {
    margin-right: 10px;
}

.navbar-brand img {
    width: 73px;
    height: 65px;
    margin-top: 3;
    margin-bottom: 10px;
}

.nav-link:hover {
    color: #FFC107;
}

.search-custom {
    width: 320px;
    height: 38px;
    margin-top: 3px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.navlist-custom {
    margin-top: 4px;
    margin-left: 200px;
}

.navlist-custom li {
    margin-left: 10px;
    justify-items: center;
}

.navlist-custom li a {
    object-fit: contain;
    font-family: Lato;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    text-align: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}


.home-icon {
    width: 28px;
    height: 26px;
    color: #ffffff;
}

.caleg-lain-icon {
    width: 28px;
    height: 26px;
}

.notifikasi-icon {
    width: 28px;
    height: 26px;
}

.bantuan-icon {
    width: 28px;
    height: 26px;
}

.line {
    border-left: 2px solid #ffffff;
    height: 46px;
}

.untuk-caleg-icon {
    width: 28px;
    height: 26px;
}

.profil-icon {
    width: 28px;
    height: 26px;
}

.jumbotron{
    background-image: url('assets/img/jumbotron-image.png');
    background-size: cover; /* Membuat gambar menutupi seluruh area */
    background-position: center; /* Memusatkan gambar */
    display: flex;
    height: 180px;
}

.jumbotron-title{
    margin-top: 30px;
    margin-left: 67px;
    color: #fff;
}

.jumbotron-title h1{
    font-size: 40px;
    font-weight: 700;
}

.jumbotron-title h2{
    font-size: 16px;
    font-weight: 700;
}

.search-bar{
    display: flex;
    align-items: flex-end;
    margin-left: 180px;
    margin-bottom: 20px;
}

.search-button{
    text-align: center;
    font-size: 20;
    margin-bottom: 10px;
    margin-left: 25px;
    width: 100px;
}

.daftar-partai{
    background-color: #ffffff;
    width: 100%;
    height: 130px;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
    box-shadow: 0 4px 30.8px 0 rgba(0, 0, 0, 0.25);
}

.daftar-caleg{
    margin-top: 26px;
    background-color: #ffffff;
    width: 100%;
    height: 596px;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    box-shadow: 0 4px 30.8px 0 rgba(0, 0, 0, 0.25);
}